.landingPageBackground{
     background: linear-gradient(0deg, #121212, #121212),
    linear-gradient(0deg, #171923, #171923),
    linear-gradient(0deg, #171923, #171923);
    
    width: 100vw;
    color: rgba(255, 255, 255, 1);
   
}