.dashbpoard_page {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    transition: background-color 0.4s, color 0.4s; 
}

.dashboard_page_header {
    margin-top: 1vw;
    width: 100vw;
    display: flex;
    padding: 0 2vw;
    padding-bottom: 1vw;
    border-bottom: 0.1vw solid gray;
    height: 3vw;
    user-select: none;
}

.dashboard_page_header_left {
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard_page_header_right {
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
  
}

.dashboard_page_header_right_theme {
    display: flex;
    align-items: center;
    gap: 0.8vw; 
}

.themeSwicth {
    position: relative;
    display: inline-block;
    width: 4vw;
    height: 1.5vw;
}

.themeSwicth input {
    opacity: 0;
    width: 0;
    height: 0;
}

.themeSlider {
    position: absolute;
    cursor: pointer;
    top: 12%;
    left:0;
    right: 0;
    bottom: 12%;
    background-color: #ccc;
    border-radius: 2vw;
    transition: background-color 0.4s;
}

.themeSlider:before {
    position: absolute;
    content: "";
    height: 1.5vw;
    width: 1.5vw;
    left: 0.2vw;
    bottom: 0.2vw;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

.themeSwicth input:checked + .themeSlider {
    background-color: #007bff; 
}

.themeSwicth input:checked + .themeSlider:before {
    transform: translateX(2.13vw); 
}


.dashboard_page_header_right_theme{
    font-family: Open Sans;
font-size: 1.1vw;
font-weight: 600;
line-height: 1vw;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}





.editErrorInput{
    border: 0.1vw solid red;
}


.dashboard_page_body{
    margin-top: 0.1vw;
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5vw;
    overflow-y: true;
}


.dashboard_page_body_top , .dashboard_page_body_bottom{
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;

}